<div id="map">
<agm-map
  [styles]="styles"
  (mapReady)='mapReadyHandler()'
  [latitude] = lat
  [longitude] = lng
  [zoom] = "13">
  <agm-circle
    *ngIf = '!isPositionError && lat && lng'
    [latitude] = lat
    [longitude] = lng
    [radius]="800"
    [fillColor]="'#d59563'"
    [fillOpacity]="0.7">
  </agm-circle>

  <agm-info-window
  *ngIf = 'isPositionError'
  [latitude] = "0"
  [longitude] = "0"
  [maxWidth] = "300"
  [isOpen] = true>
    Uuuups there is problem to find locatiion on the map.
  </agm-info-window>
</agm-map>
</div>
